body {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 480px) {
	html {
		font-size: 13px;
	}
}

#main {
	background-color: #0077b5;
	color: #fff;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#main #overlay {
	content: "";
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
	height: 200%;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	width: 200%;
	background-attachment: fixed, fixed;
	background-image: url(../images/overlay-pattern.png),
		url(../images/overlay.svg);
	background-position: top left, center center;
}
#main #header {
	text-align: center;
	opacity: 1;
	transform: translateY(0);
	width: 80%;
}
#main #header h1 {
	font-size: 4.5em;
	font-weight: 600;
	letter-spacing: -0.035em;
	line-height: 1em;
	margin: 0;
}
#main #header .subheading {
	font-size: 1.25em;
	font-weight: 300;
	margin: 0.75em 0 0.25em 0;
	opacity: 0.75;
	display: flex;
	gap: 0.5em;
	justify-content: center;
}
#main #header nav {
	margin-top: 1.5em;
}
#main #header nav ul {
	display: flex;
	justify-content: center;
	gap: 1em;
	padding: 0;
	margin: 0;
	list-style: none;
	flex-wrap: wrap;
	transition: all 0.3s ease-in-out;
}
#main #header nav ul li {
	min-height: 4em;
	min-width: 4em;
	line-height: 5.885em;
	position: relative;
	top: 0;
	border: 1px solid white;
	border-radius: 100%;
	transition: all 0.3s ease-in-out;
	background: transparent;
}
#main #header nav ul li:hover {
	transform: scale(1.15);
	background: rgba(255, 255, 255, 0.3);
}
#main #header nav ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
#main #header nav ul li a img {
	min-height: 1.4em;
	min-width: 1.4em;
}
#main #header nav ul li a .label {
	display: none;
}
